*{
    margin: 0;
    padding: 0;
}

.home{
    background-color: rgb(83, 156, 132);
    height: 100vh;
}

.progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    .ciie{
        font-family: monospace;
        font-weight: bold;
        font-size: 30px
    }

    .member{
        font-size: 25px;
        font-weight: bold;
        font-family: monospace;
        color: rgb(0, 0, 0);
    }
}

.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

    .box{
            border: 2px solid black;
            height: 400px;
            width: 650px;
            overflow: scroll;
    
                   
            .Navbar{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 30px;
                width:650px;
                background-color: rgb(106, 224, 185);
                align-items: center;
                position: fixed;
               
                
                
                .first,.second{
                    font-size: 20px;
                    font-family: monospace;
                }

                position: fixed;
                
            }
                .user{

                    .users{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        border: 2px solid black;
                        border-radius: 20px;
                        margin: 10px;
                       padding: 20px;
                      
                       

                        
                     
                        .about{
                                display: flex;
                                flex-direction: column;
                                margin-top: 10px;
                                cursor: pointer;
                        }

                        .drop{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            button{
                                padding: 5px;
                                border-radius: 10px;
                                border: none;
                                background-color:rgb(12, 173, 173) ;
                                cursor: pointer;
                            }
                            select{
                                padding: 10px;
                                border-radius: 10px;
                                background-color: rgb(12, 173, 173);
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }

                 
                }
    }

    .box::-webkit-scrollbar{
        display: none;
    }

}
