*{
    margin: 0;
    padding: 0;
}

.home{
    background-color: rgb(83, 156, 132);
    height: 100vh;
}

.progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    .ciie{
        font-family: monospace;
        font-weight: bold;
        font-size: 30px
    }

    .member{
        font-size: 25px;
        font-weight: bold;
        font-family: monospace;
        color: rgb(0, 0, 0);
    }
}

.detail{
    display: flex;
    justify-content: center;
    padding: 40px;
    overflow: hidden;
    flex-direction: column;
     align-items: center;
     gap: 10px;
.final-report{

    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
     .report{
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-family: monospace;
        background-color: aquamarine;
        cursor: pointer;
        font-weight: 900;
     }}
    
    

        .box{
            display: flex;
            flex-direction: row;
            width: 650px;
            height: 300px;
            border-radius: 30px;
            border: 2px solid black;
            overflow: scroll;     
            

            
     .left,.right {
            width: 325px;
            height: 300px;
            display: flex;
            justify-content: center;
             scroll-behavior: smooth;
            border: none;
             
       
    .name{
                display: flex;
                flex-direction: column;
                align-items: center;
                scroll-behavior: smooth;
                 
        .dropdown{
            padding: 5px;
            margin:10px;
            border-radius: 10px;
        }

        .student{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid rgb(0, 0, 0);
            padding: 10px;
            margin: 10px;
            border-radius: 10px ;
            cursor: pointer;
        }

        
        
            .conatiner{
                .name-heading{
                        display: flex;
                        align-items: center;
                        height: 35px;
                        width: 325px;
                        justify-content: center;
                        background-color: rgb(103, 226, 220);
                        margin: 0;
                        padding: 0;
                        font-family: monospace;
                        font-size: 25px;
                }
            }
             
                        }
         }
            
    .right {
            width: 325px;
            height: 300px;
            display: flex;
             justify-content: center;
         }
     
    }

    
     .box::-webkit-scrollbar{display: none;}

    

    
   
    
}

.redirect{
    color: inherit;
    text-decoration: none;
}